.toggle-fullscreen-btn {
    position:absolute;
    top: 20px;
    right: 20px;
    background-image: url(images/fullscreen-button.png);
    background-size: cover;
    opacity: 0.8;
    width: 30px;
    height: 30px;
}

.toggle-sound-btn {
    position:absolute;
    top: 20px;
    right: 60px;
    width: 30px;
    height: 30px;
    background-color: #707070
}

.toggle-sound-btn img {
    width: 100%;
    height: 100%;
    fill: white;
}

.toggle-sound-btn:focus {
    outline: 0;
}

body, html {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
}

.toggle-fullscreen-btn:focus {
    outline: 0;
}

.title-scene {
    font-family: 'Righteous', cursive;
    position: absolute;
    color: yellow;
    bottom: 50px;
    left: 500px;
}

.title-scene input {
    font-family: 'Righteous', cursive;
    color: yellow;
    border: 0;
    border-bottom: 1px solid yellow;
    margin-left: 5px;
    background: transparent;
}

.title-scene input:focus {
    outline: 0;
}
