.title-scene {
    font-family: 'Righteous', cursive;
    position: absolute;
    color: yellow;
    top: 670px;
    left: 500px;
}

.title-scene input {
    font-family: 'Righteous', cursive;
    color: yellow;
    border: 0;
    border-bottom: 1px solid yellow;
    margin-left: 5px;
    background: transparent;
}

.title-scene input:focus {
    outline: 0;
}
